xsd/JuraProductHierarchy/productHierarchy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	productHierarchy schema for JURA

	@author: 		Chris Eastwood
	@description: 	This represents the schema for the 'product_hierarchy.xml' file generated for an RCF project
							- contains the ID's of reference Items (wordlists, grammar reference etc content)
							- contains the ID's of activity items

							These ID's are used by the content system to request the objects from the RCF CDN
							- id's are 32 character GUIDs
							- items can be pulled from the CDN via <id>.xml, <id>.json, <id>.html

	@modified:  22-May-2013    Fergus Wood
					- changed the accessRights element structure
					- added referenceContentItems into activitySet level
				29-May-2013    Fergus Wood
					- added @type to activity element to define [closed-gradable | open | open-gradable ]
					- added referenceContentItems into product level
				12-Jun-2013 Fergus Wood
					- changed branch type to 'required'
				14-Jun-2013 Fergus Wood
					- added optional <subtitle> element into GenericMetadataType
				24-Feb-2014 Robert Stiller
					- added product colors (JURA-827)
					- added product series background image url (JURA-555)

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="product">
		<xs:annotation>
			<xs:documentation>Product Schema Definition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metadata" type="productMetaDataType" maxOccurs="1"/>
				<xs:element name="referenceContentItems" type="referenceContentItemsType" minOccurs="0" maxOccurs="1"/>
				<xs:sequence minOccurs="1">
					<xs:element name="branch" type="unitBranchType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="id" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID of the product as defined in the content production system. This is *not* a SAMS product ID.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="rcfVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>Contains a simple text representation of the version of the RCF code this product is designed to run against (or was authored against) - up to the calling system to decide what to do with it.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="projectVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>Contains the version / build number of the project</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:complexType name="genericMetaDataType">
		<xs:annotation>
			<xs:documentation>Metadata used by RCF production processes, and made available for DevBliss systems</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="xs:string" minOccurs="0"/>
			<xs:element name="subtitle" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="thumb" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="url" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="activitySetMetaDataType">
		<xs:complexContent>
			<xs:extension base="genericMetaDataType">
				<xs:sequence minOccurs="0">
					<xs:element name="time" type="xs:integer" minOccurs="0"/>
					<xs:element name="startscreen" minOccurs="0">
						<xs:complexType mixed="false">
							<xs:sequence minOccurs="1" maxOccurs="1">
								<xs:element name="activity">
									<xs:complexType>
										<xs:attribute name="id" type="GUID" use="required"/>
										<xs:attribute name="type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:whiteSpace value="collapse"/>
													<xs:enumeration value="info"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<!-- enumeration for the 'type' attribute, currently only 'info' is allowed -->
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="productMetaDataType">
		<xs:annotation>
			<xs:documentation>Metadata used by RCF production processes for the 'product' element</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="subtitle" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="series" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="level" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="seriesBackgroundImage" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="url" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="thumb" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="url" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="courseImage" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="url" type="NonEmptyString" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dashboardImage" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="url" type="NonEmptyString" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="navflyoutImage" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="url" type="NonEmptyString" use="required"/>
				</xs:complexType>
			</xs:element>
			<!-- spk specific elements -->
			<xs:element name="coverImage" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="url" type="NonEmptyString" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="spkLayout" type="spkLayoutType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="spkTheme" type="spkThemeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dictionary" type="dictionaryType" minOccurs="0" maxOccurs="1"/>
			<!-- end spk elements -->
			<xs:element name="css" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="false">
					<xs:attribute name="url" type="NonEmptyString" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="css_768" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="false">
					<xs:attribute name="url" type="NonEmptyString" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="css_1024" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="false">
					<xs:attribute name="url" type="NonEmptyString" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="accessRights" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:element name="contentId">
							<xs:complexType mixed="true">
								<xs:attribute name="mandatory" type="xs:integer"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="condition" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="and"/>
								<xs:enumeration value="or"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="colors" minOccurs="1" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element name="color1" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color2" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color3" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color4" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color5" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color6" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color7" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color8" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color9" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color10" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color11" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color12" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color13" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color14" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color15" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color16" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color17" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color18" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="color19" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="unitMetaDataType">
		<xs:annotation>
			<xs:documentation>Branch (Unit) Metadata used by RCF production processes, and made available for DevBliss systems</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="genericMetaDataType">
				<xs:sequence minOccurs="0">
					<xs:element name="backgroundImage" minOccurs="0" maxOccurs="1">
						<xs:complexType mixed="true">
							<xs:attribute name="url" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="label" minOccurs="0" maxOccurs="1"/>
					<xs:element name="unitColor" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="unitTextColor" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="unitBranchType">
		<xs:annotation>
			<xs:documentation>Product Branch - can only contain 'child branches' of 'unit' type and 'referenceContentItems'</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="unitMetaDataType" minOccurs="1"/>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="branch" type="sectionBranchType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="activitySets" type="activitySetsType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="referenceContentItems" type="referenceContentItemsType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="GUID" use="optional"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"/>
					<xs:enumeration value="unit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="lessonBranchType">
		<xs:annotation>
			<xs:documentation>A 'Lesson' Branch</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="genericMetaDataType" minOccurs="1"/>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:sequence>
					<xs:element name="section" type="sectionBranchType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="activitySets" type="activitySetsType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="referenceContentItems" type="referenceContentItemsType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="GUID" use="optional"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"/>
					<xs:enumeration value="lesson"/>
					<xs:enumeration value="videos"/>
					<xs:enumeration value="songs"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="sectionBranchType">
		<xs:annotation>
			<xs:documentation>A 'Section' Branch</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="genericMetaDataType" minOccurs="1"/>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:sequence>
					<xs:element name="activitySets" type="activitySetsType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="referenceContentItems" type="referenceContentItemsType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="GUID" use="optional"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"/>
					<xs:enumeration value="section"/>
					<xs:enumeration value="videos"/>
					<xs:enumeration value="songs"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="referenceContentItemsType">
		<xs:annotation>
			<xs:documentation>Reference Content Items are external web page entities / content referenced from within these activity HTML fragments (grammar links, word lists etc)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referenceContentItem" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="NonEmptyString" use="required"/>
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="acknowledgement"/>
								<xs:enumeration value="grammarReference"/>
								<xs:enumeration value="writingReference"/>
								<xs:enumeration value="wordList"/>
								<xs:enumeration value="rdc"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="title" type="xs:string" use="optional"/>
					<xs:attribute name="url" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="activitySetsType">
		<xs:annotation>
			<xs:documentation>A collection of Activity Sets - each activity set contains a collection of Activities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="activitySet" type="activitySetType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="activitySetType">
		<xs:sequence>
			<xs:element name="metadata" type="activitySetMetaDataType"/>
			<xs:element name="referenceContentItems" type="referenceContentItemsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="activities">
				<xs:annotation>
					<xs:documentation>A collection of Activities</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="activity" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A link to an Activity on the RCF CDN</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="id" type="GUID" use="required"/>
								<xs:attribute name="type" use="required">
									<xs:annotation>
										<xs:documentation>Req. by John / Ed Terry, 16th October 2013</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="closed-gradable"/>
											<xs:enumeration value="non-gradable"/>
											<xs:enumeration value="open-gradable"/>
											<xs:enumeration value="open-non-gradable"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="GUID" use="required"/>
		<xs:attribute name="mode">
			<xs:annotation>
				<xs:documentation>Req. by Fergus 23/09/2013</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="test-open"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:pattern value="([0-9a-fA-F]{32})"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="spkLayoutType">
		<xs:annotation>
			<xs:documentation>spkLayout can be 0 (default coloumn on dashboard), 1 (intro unit on top)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="spkThemeType">
		<xs:annotation>
			<xs:documentation>spkTheme can be 0 (default), 1 (white), 2 (dark)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="dictionaryType">
		<xs:annotation>
			<xs:documentation>dictionary can be 0 or 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
